ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0 0 4rem;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

// Custom LI Styles
.bmcb-text li,
.bmcb-blurb li,
.entry-content li {
  padding-left: 3.5rem;
  position: relative;
  margin: 1rem 0;
  &::before {
    content: '\f111';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    position: absolute;
    font-size: 1rem;
    top: 7px;
    left: 1rem;
    color: $color__secondary;
  }
}

.bmcb-text ol,
.bmcb-blurb ol,
.entry-content ol {
  list-style: none;
  counter-reset: ol-counter;
  margin: 0;
  padding: 0;
  li {
    counter-increment: ol-counter;
    line-height: 1.5;
    padding-left: 4rem;
    position: relative;
    &::before {
      font-family: $font__heading;
      letter-spacing: 0.2em;
      content: counter(ol-counter) '. ';
      color: $color__secondary;
      font-weight: bold;
      font-size: 1.5em;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  li + li {
    margin-top: 2rem;
  }
}
