/*
  Fonts are added by google in the site-options page.
  There will be options to disable those for custom fonts included inside the theme directly
*/
$font__main: var(--font-main), sans-serif;
$font__heading: var(--font-headings), var(--font-main), sans-serif;
$font__code: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
$font__pre: 'Courier 10 Pitch', Courier, monospace;
$font__body-size: 18; // in pixels without the px
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$heading__line-height: 1.3;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$font-weight-base: $font-weight-normal !default;

$text-muted: $color__quaternary !default;
