// Body
//
// Settings for the `<body>` element.

$body-bg: $color__white !default;
$body-color: $color__quaternary !default;
$body-text-align: null !default;

// Components
//
// Define common padding and border radius sizes and more.
$global_transition: all 0.2s !default;
$global_radius: 2rem !default;
$rounded-pill: 50rem !default;

$border-width: 1px !default;
$border-color: transparent !default;
$border-radius: $global_radius !default;
$border-radius-sm: 0.5rem !default;
$border-radius-lg: 2rem !default;

// Allows for customizing button radius independently from global border radius
$box-shadow: 0 0.5rem 1rem rgba($color__black, 0.15) !default;
$box-shadow-sm: 0 0.125rem 0.25rem rgba($color__black, 0.075) !default;
$box-shadow-lg: 0 1rem 3rem rgba($color__black, 0.175) !default;
$box-shadow-inset: inset 0 1px 2px rgba($color__black, 0.075) !default;

@import 'colors';
@import 'buttons';
@import 'typography';
@import 'structure';
