/* These styles apply to wide screen layout. Mobile defaults to single column. */

@media screen and (min-width: $form-breakpoint-small) {
  .ginput_container_address {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .address_line_1,
    .address_line_2,
    .address_country {
      flex: 0 0 100%;
    }

    .address_city {
      flex: 3 auto;
      padding-right: $form-form-spacing-x;
    }

    .address_state {
      flex: 0 0 160px;
      padding-right: $form-form-spacing-x;
    }

    .address_zip {
      flex: 0 0 100px;
      padding-right: $form-form-spacing-x;
    }

    .ginput_right {
      padding-right: 0;
    }
  }
}
