@media screen and (min-width: $form-breakpoint-small) {
  .gf_left_half {
    float: left;
    margin-right: #{$form-form-spacing-x};
    width: calc(50% - #{$form-form-spacing-x}/ 2);

    input.medium,
    select.medium,
    input.small,
    select.small {
      width: 100%;
    }
  }

  .gf_right_half {
    float: left;
    width: calc(50% - #{$form-form-spacing-x}/ 2);

    input.medium,
    select.medium,
    input.small,
    select.small {
      width: 100%;
    }
  }

  .gf_left_third,
  .gf_middle_third {
    float: left;
    margin-right: #{$form-form-spacing-x};
    width: calc(33% - #{$form-form-spacing-x}* 2 / 3);

    input.medium,
    select.medium,
    input.small,
    select.small {
      width: 100%;
    }
  }

  .gf_right_third {
    float: left;
    width: calc(34% - #{$form-form-spacing-x}* 2 / 3);

    input.medium,
    select.medium,
    input.small,
    select.small {
      width: 100%;
    }
  }

  .gf_right_half + .gfield,
  .gf_right_third + .gfield {
    clear: both;
  }
}
