/* Single styles */

.ginput_container_fileupload > input {
  background: $form-container-background-color;
  border-radius: $form-border-radius;
  padding: $form-padding-large;
  width: 100%;
}

/* Error Style */
.gfield_error .ginput_container_fileupload > input {
  background: $form-error-background;
}

/* Multi styles */

.gfield_error .gform_fileupload_multifile {
  background: $form-error-background;
}

.gform_fileupload_multifile {
  background: $form-container-background-color;
  border-radius: $form-border-radius;
  padding: $form-padding-large;
}

.gform_drop_area {
  border: 2px dashed $form-border-color;
  border-radius: $form-border-radius;
  padding: $form-padding-medium $form-padding-medium $form-padding-large;
  text-align: center;
}

.gform_drop_instructions {
  display: block;
  padding: $form-padding-medium $form-padding-medium $form-padding-large;
}
