// Utilities
$utilities: () !default;

// Add any custom tils you need like the following syntax. Google "Bootstrap 5 Utility API" for more examples.

/* Simple uncomment this section out and add more utils!
$utilities: map-merge(
  (
    'float': (
      responsive: true, // Generates for breakpoint: md, lg, xl
      property: float,
      class: fl, // this becomes fl-left, fl-right, fl-none
      values: left right none
    ),
     'fontsize': (
       responsive: true, // Generates for breakpoint: md, lg, xl
       property: font-size,
       class: text-, // this becomes text-sm, text-md, etc
       important: true, // Makes every rule !important
       values: (
        sm: 0.6em,
        md: 1.2em,
        lg: 2em,
        xl: 3em,
        2xl: 4em
      )
    )
  ),
  $utilities
);
*/

// @import "name";
