h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font__heading;
  color: $color__text-headings;
  font-weight: normal;
  clear: both;
  line-height: $heading__line-height;
  margin: 0;
  margin-bottom: 2.8rem;
}

.header-callout-text {
  font-size: 8.5rem;
  line-height: 8rem;
  color: $color__primary;
}

h1 {
  @include fontSize(41);
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.6rem;
  margin-bottom: 1.8rem;
}

.header-font h3,
.header-font h4,
.header-font h5 {
  font-family: $font__heading;
}

h1 span,
h2 span,
h3 span,
h4 span {
  @include media-breakpoint-up(lg) {
    display: block;
  }
}
