.site-footer {
  background: $color__secondary;
  .container {
    padding: 3rem 0;
  }
  .footer__copyright p {
    display: block;
    font-size: 1.6rem;
    color: #75767a;
    margin-bottom: 0;
  }
}
