$mobileMenuWidth: 300px;

#main-nav {
  display: none;
  padding: 0;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  @include media-breakpoint-up(lg) {
    display: flex;
  }
}

// Main header padding for larger screen
#main-menu > li > a {
  @include media-breakpoint-up(lg) {
    padding: 4rem 2rem;
  }
}

.nav-menu {
  margin: 0;
  list-style: none;
  padding: 0;
  &--horizontal {
    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: center;
    }
  }
  // Top level
  > li {
    position: relative;
    > a {
      padding: 1rem 2rem;
    }
  }
  // All other levels
  li {
    a {
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1.8rem;
      letter-spacing: 0.2rem;
      color: $color__white;
      display: block;
      padding: 0.5rem 2rem;
      font-weight: 600;
      @include media-breakpoint-up(lg) {
        font-size: 1.4rem;
      }
    }
    &.menu-item-has-children {
      > a:first-child {
        padding-right: 1rem;
        font-weight: bold;
        &::after {
          display: inline-block;
          position: unset;
          margin-left: 0.6rem;
          top: 0;
          right: 0;
          font-family: 'Font Awesome 5 Free';
          font-size: 1.6rem;
          font-weight: 900;
          color: $color__white;
          transition: transform 0.2s ease-in-out;
          content: '\f0d7';
        }
      }
      &.is-open {
        > a:first-child {
          &::after {
            transform: rotate(180deg);
            transform-origin: center;
          }
        }
      }
      .sub-menu {
        display: none;
        list-style: none;
        padding: 0;
        margin: 0;
        max-width: 300px;

        &.is-visible {
          display: block;
          @include media-breakpoint-up(lg) {
            position: absolute;
            z-index: 1000;
            min-width: 100%;
            background: $color__black;
            top: 100%;
            left: 0;
            .sub-menu {
              position: static;
              li {
                padding-left: 1em;
              }
              // left: 100%;
              top: 0;
            }
          }
        }
        > li {
          padding-left: 2.3rem;
          white-space: nowrap;
          a {
            font-weight: normal;
            font-family: $font__main;
          }
          &.menu-item-has-children > a:first-child {
            font-family: $font__heading;
          }
          @include media-breakpoint-up(lg) {
            padding-left: 0;
          }
        }
        li a:hover {
          background: $color__black;
        }
      }
      @include media-breakpoint-up(lg) {
        &:not(.collapsible-enabled):hover {
          > .sub-menu {
            display: block;
            position: absolute;
            z-index: 1000;
            min-width: 100%;
            background: $color__black;
            top: 100%;
            left: 0;
            .sub-menu {
              left: 100%;
              top: 0;
            }
          }
        }
      }
    }
  }
}

.mobile-menu {
  background: $color__quaternary;
  height: 100vh;
  width: 80%;
  max-width: $mobileMenuWidth;
  position: fixed;
  z-index: 1000;
  display: none;
  padding: 6rem 2rem;
  right: -$mobileMenuWidth;
  .langswitch {
    position: absolute;
    top: 15px;
  }

  #main-menu {
    width: 100%;
  }

  #main-nav {
    justify-content: flex-start;
    margin-bottom: 2rem;
    display: block;
    li a {
      padding: 0.5em 1em;
    }
  }
}

#menu-toggle {
  // position: fixed;
  // z-index: 1001;
  // top: 2.5rem;
  // right: 2rem;
  margin-left: auto;
  background: none;
  position: relative;
  z-index: 1001;
  border: none;
  color: black;
  padding: 0.5rem 1rem;
  display: inline-block;
  color: $color__white;
  &:focus {
    outline: 1px solid $color__white;
  }
}

#menu-toggle {
  .icon-menu-toggle {
    display: inline-block;
    fill: currentColor;
    width: 3rem;
    height: 3rem;
    vertical-align: middle;
    position: relative; /* Align more nicely with capital letters */
  }
  .icon-menu-toggle {
    .line {
      opacity: 1;
      transform: rotate(0) translateY(0) translateX(0);
      transform-origin: 1em 1em;
      transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
    }
    .line-1 {
      transform-origin: 0.5rem 1.5rem;
    }
    .line-3 {
      transform-origin: 1.5rem 6rem;
    }
  }
}
.always_show_mobile_nav #menu-toggle {
  display: inline-block;
}
.mobile-menu-is-visible {
  #menu-toggle {
    background: #0c1824;
    position: absolute;
    right: 0;
    transform: translateX(-80vw);
    .icon-menu-toggle {
      .line-1 {
        transform: rotate(45deg) translateY(0) translateX(0);
      }
      .line-2 {
        opacity: 0;
      }
      .line-3 {
        transform: rotate(-45deg) translateY(0em) translateX(0em);
      }
    }
    @include media-breakpoint-up(380px) {
      transform: translateX(-$mobileMenuWidth);
    }
    // @include media-breakpoint-up(lg) {
    //   transform: none;
    // }
  }

  .mobile-menu {
    display: block;
    top: 0;
    right: 0;
  }
}

.admin-bar.mobile-menu-is-visible:not(.sticky) .mobile-menu {
  top: 46px;
}
