@media all and (min-width: 601px) {
  body.admin-bar.sticky #main-header {
    top: 4.6rem;
  }
}

@media all and (min-width: 783px) {
  body.admin-bar.sticky #main-header {
    top: 3.2rem;
  }
}

.site-logo-text {
  color: $color__white;
}

.logo_container {
  flex-grow: 1;
}

.logo__header {
  padding: 2rem 0;
  max-width: 12rem;
  max-width: clamp(10rem, 10vw, 15rem);
}

#main-header.sticky + #et-main-area {
  padding-top: 10rem;
}

#main-header {
  position: sticky;
  top: 0;
  box-shadow: none;
  display: flex;
  align-items: center;
  background: rgba(black, 0.7);
  transition: opacity 0.4s, transform 0.4s;
  width: 100%;
  z-index: 1000;
  top: 0;
  .container {
    display: flex;
    align-items: center;
    padding: 0;
    @include media-breakpoint-up(lg) {
      padding: 0 1.5rem;
    }
  }
  .et_menu_container {
    display: flex;
    align-items: center;
  }
  &.scroll-down {
    transform: translateY(-100%);
  }
}

.header-cta-block {
  justify-content: flex-end;
}

// .sticky.home #main-header {
//   background-color: rgba(black, 0.8) !important;
// }

#main-header #logo {
  max-width: 60%;
}

@include media-breakpoint-up(lg) {
  #main-header.sticky
    #top-menu-nav
    #main-menu
    > li.menu-item-has-children
    > a:first-child {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
