/* Add some spacing between multiple modules that start with headings */
body:not(.home) {
  .bmcb-module:not(.heading-space-0) h2:first-child {
    margin-top: 2rem;
  }
}

/* Reduce space for the headings if there is a hr module preceeding them */
body:not(.home) {
  .bmcb-hr-module
    + .bmcb-row
    .bmcb-module:not(.heading-space-0)
    h2:first-child {
    margin-top: 1rem;
  }
}
