// Import things you would like to display in the admin
// E.g currently anytime you change elements (like buttons) those styles will show in button previews.
// Same with font sizes for headings

@import '../sass/mixins/mixins-master';
@import '../sass/variables-site/variables-site';

#buildy-root .cta-button,
#tinymce {
  @import '../sass/typography/headings';
  @import '../sass/elements/elements';
  .btn {
    &,
    &:hover {
      padding: 1rem;
    }
  }
}
